.DS_Store
ProtoBuf/ProtocolBuffers.xcodeproj/kostia (Kostia Dombrovsky's conflicted copy 2011-02-22).mode1v3
ProtoBuf/ProtocolBuffers.xcodeproj/kostia (Kostia Dombrovsky's conflicted copy 2011-02-22).pbxuser
ProtoBuf/ProtocolBuffers.xcodeproj/kostia.mode1v3
ProtoBuf/ProtocolBuffers.xcodeproj/kostia.pbxuser
ProtobuffersShowcase.xcodeproj/kostia (Kostia Dombrovsky's conflicted copy 2011-02-22).mode1v3
ProtobuffersShowcase.xcodeproj/kostia (Kostia Dombrovsky's conflicted copy 2011-02-22).pbxuser
ProtobuffersShowcase.xcodeproj/kostia.mode1v3
ProtobuffersShowcase.xcodeproj/kostia.pbxuser
ProtobuffersShowcase.xcodeproj/project (Kostia Dombrovsky's conflicted copy 2011-02-22).pbxproj
ProtoBuf/ProtocolBuffers.xcodeproj/xcuserdata/kostia.xcuserdatad/xcschemes/CommandLineTests.xcscheme
ProtoBuf/ProtocolBuffers.xcodeproj/xcuserdata/kostia.xcuserdatad/xcschemes/ProtocolBuffers.xcscheme
ProtoBuf/ProtocolBuffers.xcodeproj/xcuserdata/kostia.xcuserdatad/xcschemes/xcschememanagement.plist
ProtobuffersShowcase.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ProtobuffersShowcase.xcodeproj/project.xcworkspace/xcuserdata/kostia.xcuserdatad/UserInterfaceState.xcuserstate
ProtobuffersShowcase.xcodeproj/xcuserdata/kostia.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
ProtobuffersShowcase.xcodeproj/xcuserdata/kostia.xcuserdatad/xcschemes/ProtobuffersShowcase.xcscheme
ProtobuffersShowcase.xcodeproj/xcuserdata/kostia.xcuserdatad/xcschemes/xcschememanagement.plist